<div class="about-card">
  <h2 class="card-title title-md">About</h2>

  <p class="body-md card-text">
    A passionate Front-End Developer, specialized in Angular framework with more than one year experience.
  </p>

  <ul class="about-list">
    <li class="list-item">
      <span class="material-symbols-outlined" aria-hidden="true">
        location_on
      </span>
      <span class="label-md">Elsalam city, Cairo, Egypt</span>
    </li>

    <li class="list-item">
      <span class="material-symbols-outlined" aria-hidden="true">
        work
      </span>
      <span class="label-md">Freelancer</span>
    </li>

    <li class="list-item">
      <span class="material-symbols-outlined" aria-hidden="true">
        captive_portal
      </span>
      <a class="label-md" [href]="portfolioURL" target="_blank">Portfolio</a>
    </li>
  </ul>
</div>
