<div class="about-card">
  <h2 class="card-title title-md">About</h2>

  <p class="body-md card-text">
    A passionate Front-End Developer, specialized in Angular framework with more than one year experience.
  </p>

  <ul class="about-list">
    <li class="list-item">
      <i class="fa-solid fa-location-dot"></i>
      <a [href]="googleMapsURL" target="_blank" rel="noopener noreferrer" title="Google Maps">
        Elsalam city, Cairo, Egypt
        <i class="outside-link fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </li>

    <li class="list-item">
      <i class="fa-solid fa-code-fork"></i>
      <a class="label-md" [href]="linksURL" target="_blank" title="All Links">
        Link Tree
        <i class="outside-link fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </li>

    <li class="list-item">
      <i class="fa-solid fa-briefcase"></i>
      <span class="label-md">Freelancer</span>
    </li>



  </ul>
</div>
