<section class="section hero">
  <div class="container">
    <figure class="hero-banner img-holder" style="--width: 240; --height: 240">
      <img src="images/profile.jpg" width="240" height="240" alt="Profile photo" class="img-cover" />
    </figure>

    <div class="hero-content">
      <!-- <span class="lable-lg section-subtitle">Yours,</span> -->
      <h1 class="display-sm">Safwat Ahmed</h1>
      <p class="body-lg section-text">
        Angular Front-End Developer
      </p>

      <div class="btn-wrapper">
        <a class="chip"
          href="mailto:safwatahmed669@gmail.com?subject=General Inquiry about [Your Question]&body= Hello, Safwat Ahmed%0D%0A%0D%0AI'm [Your Name] from [Your Company].%0D%0A%0D%0A I'm reaching you for ...">
          <span class="material-symbols-outlined" aria-hidden="true">
            mail
          </span>
          <span class="lable-lg">safwatahmed669&#64;gmail.com</span>
          <div href="" class="state-layer"></div>
        </a>

        <a href="tel:+201125285475" class="chip">
          <span class="material-symbols-outlined" aria-hidden="true">
            call
          </span>
          <span class="lable-lg">+201125285475</span>
          <div href="" class="state-layer"></div>

        </a>
      </div>
    </div>
  </div>
</section>
