<section class="section hero">
  <div class="container">
    <figure class="hero-banner img-holder" style="--width: 240; --height: 240">
      <img src="images/profile.jpg" width="240" height="240" alt="Profile photo" class="img-cover" />
    </figure>

    <div class="hero-content">
      <!-- <span class="lable-lg section-subtitle">Yours,</span> -->
      <h1 class="display-sm">Safwat Ahmed</h1>
      <p class="body-lg section-text">
        Angular Front-End Developer
      </p>

      <div class="btn-wrapper">
        <a class="chip" [href]="emailURL">
          <span class="material-symbols-outlined" aria-hidden="true">
            mail
          </span>
          <span class="lable-lg">safwatahmed669&#64;gmail.com</span>
          <div class="state-layer"></div>
        </a>

        <a [href]="phoneURL" class="chip">
          <span class="material-symbols-outlined" aria-hidden="true">
            call
          </span>
          <span class="lable-lg">+201125285475</span>
          <div class="state-layer"></div>
        </a>
        <button class="chip chip-btn" (click)="downloadResume()">
          <i class="fa-solid fa-file-arrow-down"></i>
          <span class="lable-lg">Download Resume</span>
          <div class="state-layer"></div>
        </button>
      </div>
    </div>
  </div>
</section>
