<section class="section tab-content active">
  <div class="container">
    <div class="project-list">
      <div class="card">
        <figure class="card-banner imgholder" style="--width: 334; --height: 180">
          <img src="images/project-1.png" alt="Pixstock - Stock Media App" class="img-cover" width="334"
            height="180" />
        </figure>
        <div class="card-content">
          <span class="lable-lg card-subtitle">Web App</span>

          <h3 class="title-lg card-title">
            Pixstock - Stock Media App
          </h3>
        </div>
        <a href="#" class="state-layer"></a>
      </div>

      <div class="card">
        <figure class="card-banner imgholder" style="--width: 334; --height: 180">
          <img src="images/project-2.png" alt="Cook.io - Recipe App" class="img-cover" width="334"
            height="180" />
        </figure>
        <div class="card-content">
          <span class="lable-lg card-subtitle">Web App</span>

          <h3 class="title-lg card-title">Cook.io - Recipe App</h3>
        </div>
        <a href="#" class="state-layer"></a>
      </div>

      <div class="card">
        <figure class="card-banner imgholder" style="--width: 334; --height: 180">
          <img src="images/project-3.png" alt="GitFinder - Github User Finder" class="img-cover" width="334"
            height="180" />
        </figure>
        <div class="card-content">
          <span class="lable-lg card-subtitle">Web App</span>

          <h3 class="title-lg card-title">
            GitFinder - Github User Finder
          </h3>
        </div>
        <a href="#" class="state-layer"></a>
      </div>

      <div class="card">
        <figure class="card-banner imgholder" style="--width: 334; --height: 180">
          <img src="images/project-4.png" alt="Weatherio - Live Weather App" class="img-cover" width="334"
            height="180" />
        </figure>
        <div class="card-content">
          <span class="lable-lg card-subtitle">Web App</span>

          <h3 class="title-lg card-title">
            Weatherio - Live Weather App
          </h3>
        </div>
        <a href="#" class="state-layer"></a>
      </div>

      <div class="card">
        <figure class="card-banner imgholder" style="--width: 334; --height: 180">
          <img src="images/project-5.png" alt="Tvflix - Netflix Clone 2.0" class="img-cover" width="334"
            height="180" />
        </figure>
        <div class="card-content">
          <span class="lable-lg card-subtitle">Web App</span>

          <h3 class="title-lg card-title">
            Tvflix - Netflix Clone 2.0
          </h3>
        </div>
        <a href="#" class="state-layer"></a>
      </div>

      <div class="card">
        <figure class="card-banner imgholder" style="--width: 334; --height: 180">
          <img src="images/project-6.png" alt="Travelia - Travel Website" class="img-cover" width="334"
            height="180" />
        </figure>
        <div class="card-content">
          <span class="lable-lg card-subtitle">Web App</span>

          <h3 class="title-lg card-title">
            Travelia - Travel Website
          </h3>
        </div>
        <a href="#" class="state-layer"></a>
      </div>
    </div>
  </div>
</section>
