<section class="section  resume-tab">
  <div class="container">
    <h2 class="section-title title-sm">Experience</h2>

    <ul class="list">
      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Software Engineer, TechGulf Solutions
          </p>
          <span class="label-md card-subtitle">2018 - Present</span>
          <span class="body-md card-text">
            Led the development of a customer management system,
            resulting in improved efficiency and streamlined
            processes.
          </span>
        </div>
      </li>

      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Software Developer Intern, ByteOasis Corporation
          </p>
          <span class="label-md card-subtitle">2016 - 2017</span>
          <span class="body-md card-text">
            Assisted in the development and testing of a mobile
            application for internal use.
          </span>
        </div>
      </li>
    </ul>

    <h2 class="section-title title-sm">Education</h2>
    <ul class="list">
      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Certification in Web Development with React.js
            (FreeCodeCamp Certification)
          </p>
          <span class="label-md card-subtitle">2015 - 2016</span>
        </div>
      </li>

      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Relevant Coursework: Data Structures, Algorithms,
            Database Management
          </p>
          <span class="label-md card-subtitle">2014 - 2013</span>
        </div>
      </li>

      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Bachelor of Science in Computer Science, Alexandria
            University
          </p>
          <span class="label-md card-subtitle">2010 - 2014</span>
        </div>
      </li>
    </ul>

    <h2 class="section-title title-sm">Skills and Technologies</h2>
    <ul class="resume-bottom-list">
      <li class="resume-bottom-item">
        <img src="images/html5.svg" alt="HTML5" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">HTML5</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/css3.svg" alt="CSS3" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">CSS3</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/javascript.svg" alt="Javascript" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Javascript</span>
      </li>
      <li class="resume-bottom-item">
        <img src="favicon.ico" alt="Angular" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Angular</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/node.js.svg" alt="Node.js" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Node.js</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/github.svg" alt="GitHub" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">GitHub</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/mongoDB.svg" alt="MongoDB" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">MongoDB</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/VS_code.svg" alt="VS Code" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">VS Code</span>
      </li>
    </ul>
  </div>
</section>
