<section class="section  resume-tab">
  <div class="container">
    <h2 class="section-title title-lg">Experience</h2>

    <ul class="list">
      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Freelancer
          </p>
          <span class="label-md card-subtitle">2018 - Present</span>
          <span class="body-md card-text">
            Developed and executed successful projects for different platforms to increase brand awareness and drive
            traffic to the company's website.
          </span>
        </div>
      </li>
    </ul>

    <h2 class="section-title title-lg">Education</h2>
    <ul class="list">
      <li class="resume-item">
        <div class="resume-card">
          <p class="body-lg">
            Faculty Of Science
          </p>
          <p class="body-md card-text">
            Department of Mathematical Statistics and Computer Science
            Ain Shams University
          </p>
          <span class="label-md card-subtitle">2020 - 2024</span>
        </div>
      </li>
    </ul>

    <h2 class="section-title title-lg">Skills and Technologies</h2>
    <ul class="resume-bottom-list">
      <li class="resume-bottom-item">
        <img src="images/html5.svg" alt="HTML5" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">HTML5</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/css3.svg" alt="CSS3" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">CSS3</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/bootstrap.png" alt="Bootstrap 5" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Bootstrap</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/tailwind.svg" alt="Tailwind" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Tailwind</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/sass.svg" alt="Sass" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Sass</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/javascript.svg" alt="Javascript" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">JavaScript</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/typescript.png" alt="TypeScript" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">TypeScript</span>
      </li>
      <li class="resume-bottom-item">
        <img src="favicon.ico" alt="Angular" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">Angular</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/github.svg" alt="GitHub" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">GitHub</span>
      </li>
      <li class="resume-bottom-item">
        <img src="images/VS_code.svg" alt="VS Code" width="28" height="28" loading="lazy" class="icon" />
        <span class="label-md">VS Code</span>
      </li>
    </ul>
  </div>
</section>
